.aboutHome{
    height:auto;

}
p{
    color:black;
}
.aboutHome #heading{
    text-align:left;
    padding:0;

}
.aboutHome .left img{
    width:100%;
    height:100%;
    object-fit: cover;

}
.aboutHome .right{
    padding:80px 50px;
}
.aboutHome .items{
    margin-top: 50px;
}
.aboutHome .item{
    background-color: pink;
    margin-top: 20px;
    padding:20px;
    transition: 0.5s;
    


}
.aboutHome .img{
    width:200px;

}
.aboutHome img{
    width:70px;
    height:70px;
}
.aboutHome .item h2{
    font-size:20px;
    margin-bottom: 15px;

}
 

.aboutHome .item:hover{
    background-color: rgb(136, 220, 240);
    color:black;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0/6%);

}
.awrapper{
    background-image: url("https://img.freepik.com/free-photo/abstract-water-waves-with-ink-dots_23-2148231504.jpg?w=996&t=st=1696959021~exp=1696959621~hmac=2060ba49093072e08a67a57c9bee92855f1eec126da309611ac05f8621a3e060");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: black;
  }
  .awrapper .box {
    padding: 70px 0;
  }
  .awrapper img {
    margin-right: 30px;
  }
  .awrapper h1 {
    font-size: 50px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  }
  
  /* @media screen and (max-width:768px){
    .aboutHome{
        margin-top: 80%;
    }
    .aboutHome .container{
        flex-direction: column-reverse;

    }
    .aboutHome .row{
        width: 100%;

    }
    .awrapper{
        height: 50vh;
    }
  /* } 
  @media screen and (max-width: 768px) {
    .aboutHome .right {
        padding: 40px 20px;
    }

    .aboutHome .items {
        margin-top: 30px;
    }

    .aboutHome .item {
        margin-top: 10px;
        padding: 10px;
    }

    .aboutHome .item h2 {
        font-size: 18px;
    }

    .awrapper {
        height: 50vh;
    }

    .awrapper .box {
        padding: 50px 0;
    }

    .awrapper img {
        margin-right: 10px;
    }

    .awrapper h1 {
        font-size: 40px;
    }

    .awrapper h3 {
        font-size: 16px;
    }
} */
@media screen and (max-width: 1200px) {
    .aboutHome .container {
      flex-direction: column-reverse;
    }
    .aboutHome .row {
      width: 100%;
    }
    .awrapper {
      height: 50vh;
    }
  }
  